<div class="jumbotron center">
	<h1>Witaj w aplikacji nadgodziny</h1>
	<% if user_signed_in? %>
          # do something
     <% else %>
       <p>
         <%= link_to "Zaloguj się", new_user_session_path, class: "btn btn-primary btn-lg" %>
         </p>
  <% end %>  
</div>
